[package]
name = "dft"
description = "Terminal based, extensible, interactive data analysis tool using SQL "
homepage = "https://github.com/datafusion-contrib/datafusion-tui"
repository = "https://github.com/datafusion-contrib/datafusion-tui"
readme = "README.md"
authors = ["Matthew Turner <matthew.m.turner@outlook.com>"]
license = "Apache-2.0"
keywords = ["arrow", "query", "sql", "datafusion"]
version = "0.1.0"
edition = "2021"
default-run = "dft"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow-flight = { version = "53.0.0", features = ["flight-sql-experimental"] , optional = true }
async-trait = "0.1.80"
clap = { version = "4.5.1", features = ["derive"] }
color-eyre = "0.6.3"
crossterm = { version = "0.28.1", features = ["event-stream"] }
datafusion = "42.0.0"
datafusion-functions-json = { version = "0.42.0", optional = true }
deltalake = { version = "0.20.0", features = ["datafusion"], optional = true }
directories = "5.0.1"
env_logger = "0.11.5"
futures = "0.3.30"
itertools = "0.13.0"
lazy_static = "1.4.0"
log = "0.4.22"
object_store = { version = "0.11.0", features = ["aws"], optional = true }
ratatui = "0.28.0"
serde = { version = "1.0.197", features = ["derive"] }
strum = "0.26.2"
tokio = { version = "1.40.0", features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.16"
tokio-util = "0.7.10"
toml = "0.8.19"
tonic = { version = "0.12.2", optional = true }
tui-logger = {version = "0.12", features = ["tracing-support"]}
tui-textarea = { version = "0.6.1", features = ["search"] }
url = { version = "2.5.2", optional = true }

[dev-dependencies]
assert_cmd = "2.0.16"
insta = { version = "1.40.0", features = ["yaml"] }
predicates = "3.1.2"
tempfile = "3.2.0"

[features]
deltalake = ["dep:deltalake"]
flightsql = ["dep:arrow-flight", "dep:tonic"]
s3 = ["object_store/aws", "url"]
functions-json = ["dep:datafusion-functions-json"]
url = ["dep:url"]

[[bin]]
name = "dft"
path = "src/main.rs"

[lints.clippy]
clone_on_ref_ptr = "deny"
